<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2021 AOSP-Krypton Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krypton.settings.device"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <protected-broadcast android:name="android.intent.action.SLIDER_POSITION_CHANGED" />
    <protected-broadcast android:name="android.intent.action.SCREEN_CAMERA_GESTURE" />
    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="31" />

    <application
        android:title="@string/device_settings_title"
        android:theme="@style/DeviceSettingsTheme"
        android:persistent="true"
        android:supportsRtl="true"
        android:directBootAware="true">

        <!-- Device Settings -->
        <activity
            android:name=".DeviceSettingsActivity"
            android:label="@string/device_settings_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.krypton.settings.action.DEVICE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TouchscreenGestureSettingsActivity"
            android:label="@string/touchscreen_gesture_settings_title"
            android:exported="false" />

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ClientPackageObserverService"
            android:exported="false" />
    </application>
</manifest>
